# Telegram Bot Configuration
# Get your token from @BotFather on Telegram

BOT_TOKEN=8754049335:AAHlL451OBoPn6bFsye_dGyeoDESsH7dqNc

# Example:
# BOT_TOKEN=8754049335:AAHlL451OBoPn6bFsye_dGyeoDESsH7dqNc
